# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/
.ipynb_checkpoints

# Ignore __pycache__
**/__pycache__
__pycache__

# Ignore missing file checks
data_preparation/check_missing_ioda_msonet_files.sh
data_preparation/missing_ioda_msonet_files.txt

# Ignore logs
data_preparation/logs/
data_preparation_ges/logs/
inference_runs/

#Ignore training checkpoints
training_runs/

# Ignore batch-inference outputs (predict.py)
predictions/

#Ignore plots
Plots/

# Ignore all netcdf files
# data_preparation_/regridder_hrrr.nc
**/*.nc

# Ignore archived code 
ARCHIVED_CODE/